.login-signup-template {
  background: #f8f8f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;

  .form-section {
    background-color: white;
    height: 70vh;
    width: 70%;
    display: flex;
    min-width: 625px;
    min-height: 545px;
    .image-part {
      display: flex;
      flex-direction: column;
      width: 50%;
      justify-content: space-around;
      align-items: center;
      .alternate-form-link {
        color: black;
      }
    }
    .form-part {
      display: flex;
      flex-direction: column;
      padding: 20px;
      width: 50%;
      align-items: center;

      .heading {
        margin-top: 30px;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 50px;
        font-family: monospace;
      }

      .form-button {
        width: 100px;
        height: 30px;
        margin-top: 40px;
        font-size: 16px;
        font-weight: bold;
        font-family: monospace;
      }
    }
  }
}
